<main>
    <div class="container">
        <form [formGroup]="form">
            <h1>Sign Up</h1>
            <mat-form-field appearance="fill">
                <mat-label>Enter your name</mat-label>
                <input matInput placeholder="Vasya123" formControlName="userName" >
                <mat-error *ngIf="this.form.get('userName').errors?.nameIsUsed">{{'This name is used'}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email" >
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="this.form.get('password').errors?.pattern">{{'Must contains at least 4 characters , 1 uppercase , 1 digit'}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter your password again</mat-label>
                <input matInput [type]="hidePasswordConfirm ? 'password' : 'text'" formControlName="passwordConfirm">
                <button mat-icon-button matSuffix (click)="hidePasswordConfirm = !hidePasswordConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswordConfirm">
                  <mat-icon>{{hidePasswordConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="this.form.get('passwordConfirm').errors?.notSame">{{'Passwords must be same'}}</mat-error>
            </mat-form-field>
            <button (click)="onSubmit()" mat-raised-button color="primary">Submit</button>
        </form>
      
    </div>
</main>