
main{
   
    padding-top: 70px;
    height: 100%;
}

form{
   
    display: flex;
    flex-direction: column;
    max-width: 350px;
    padding: 40px;
    margin: 0px auto ;
    background-color: white;
}

mat-form-field{
    margin-bottom: 20px;
}