main{
    padding: 0px 20px 40px;
}

.wrapper{
    max-width: 80%;
    margin: 70px auto 0px;
}

ngx-dropzone-preview{
   font-size: 12px;
}

button{
    display: block;
    margin: 50px auto 0px;
    width: 180px;
    height: 40px;
   

}

h1{
    font-size: 26px;
}

.files-uploaded{
    margin-top: 40px;
}


.files-uploaded p{
    font-size: 20px;
}