
header{
  background-color: #3f51b5;
}

.logo{
  display: inline-block;
  overflow: hidden;
  

}

img{
  width: 150px;
  height: 65px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

nav a{
  color:white
}

ul{
  display: flex;
  height: 80px;
  padding: 0px;
  margin: 0px;
}

li{
  display: block;
  width: 200px;
}

li a{
  display: block;
  height: 100%;
  text-align: center;
  padding-top: 30px;
}

li:hover{
  background-color: rgb(137, 139, 236);
}

.logout:hover{
  cursor: pointer;
}