

<header>
  <div class="container">
   <a class="logo" routerLink="/">
     <img src="./assets/image/logo.png" alt="">
   </a>
   <!-- <ul>
    <li *ngIf="(authService.isLoggedIn$ | async)"><a routerLink="storage">
      Storage
   </a></li>
   <li *ngIf="!(authService.isLoggedIn$ | async)"><a routerLink="login">
      Login
   </a></li>
   <li *ngIf="(authService.isLoggedIn$ | async)"><a class="logout" (click)="logout()">
      Logout
   </a></li>
  </ul> -->
  <nav>
    <ul>
      <li *ngIf="(authService.isLoggedIn$ | async)"><a routerLink="storage" >Storage</a></li>
      <li *ngIf="!(authService.isLoggedIn$ | async)"><a routerLink="login">Login</a></li>
      <li *ngIf="(authService.isLoggedIn$ | async)"><a class="logout" (click)="logout()">Logout</a></li>
    </ul>


  </nav>

  </div>
</header>
