form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0px auto;
    background-color: white;
    padding:50px 40px 20px;
}

main{
    padding-top: 150px;
}

h1{
    font-size: 30px;
}



a{
    font-size: 16px;
    color:blue;
}



button{
    padding: 5px 0px;
    font-size: 20px;
}

mat-error{
    margin-bottom: 10px;
}

p{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}