.container{
    display: flex;

}

.menu{
    margin-top: 60px;
    flex:1 1 20%;
}

.content{
    flex:11 80%;
    height: 100%;
}

a{
    margin-bottom: 20px;
    
    font-size: 20px;
    width: 200px;
    padding: 15px 0px;
}