.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.owner{

  font-size: 16px;
  flex: 0 1 23%;
}

.description{
   display: flex;
    flex: 0 1 50%;
}
p{
    display: block;
    margin-left: 40px;
    position: relative;
    top: 10px;
}

p.name{
    font-size: 20px;
}

.size{
    font-size: 16px;
}

.actions{
    flex:0 1 27%;
   
}

.mat-icon {
    font-size: 50px;
    position: relative;
    top: 5px;
  }

  .icon-rename{
    font-size: 14px;
  }
  .actions button{
    margin-left: 5px;
    width: 40px;
  }

  .actions button:first-child{
    margin-left: 0px;
  }

  .mat-card{
    width: 800px;
  }