.main{
    height: 100%;
}



.container{
    width: 100%;
    display: flex;
    
    justify-content: space-between;
   
}

span{
    color:blueviolet;
}


.text{
    margin-top: 20%;
}

.image{
    margin-top: 14%;
}


h1{
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
    color:rgb(60, 73, 187);
}

p{
    margin-top: 40px;
    font-size: 20px;
    color:rgb(43, 48, 86);
}

a{
    margin-top: 40px;
    padding: 4px 30px;
    border-radius: 5px;
    
}

img{
    width: 650px;
    height: 450px;
}

